<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.dao.AutoIdBeanMapper">
	<resultMap id="BaseResultMap" type="com.xh.comm.entry.AutoIdBean">
		<id column="code" property="code" jdbcType="VARCHAR" />
		<result column="cur_num" property="curNum" jdbcType="INTEGER" />
		<result column="lock_num" property="lockNum" jdbcType="INTEGER" />
		<result column="creater" property="creater" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
		<result column="updater" property="updater" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="DATE" />
		<result column="max_num" property="maxNum" jdbcType="INTEGER" />
		<result column="project_name" property="projectName" jdbcType="VARCHAR" />
		<result column="min_num" property="minNum" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		code, cur_num, lock_num, creater, create_time, updater, update_time,
		max_num, project_name,
		min_num
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.xh.comm.entry.AutoIdBeanExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_pub_auto_id
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_pub_auto_id
		where code = #{code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_pub_auto_id
		where code = #{code,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.xh.comm.entry.AutoIdBeanExample">
		delete from t_pub_auto_id
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.xh.comm.entry.AutoIdBean">
		insert into t_pub_auto_id (code, cur_num, lock_num,
		creater, create_time, updater,
		update_time, max_num, project_name,
		min_num)
		values (#{code,jdbcType=VARCHAR}, #{curNum,jdbcType=INTEGER},
		#{lockNum,jdbcType=INTEGER},
		#{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{updater,jdbcType=VARCHAR},
		#{updateTime,jdbcType=DATE}, #{maxNum,jdbcType=INTEGER},
		#{projectName,jdbcType=VARCHAR},
		#{minNum,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.xh.comm.entry.AutoIdBean">
		insert into t_pub_auto_id
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="code != null">
				code,
			</if>
			<if test="curNum != null">
				cur_num,
			</if>
			<if test="lockNum != null">
				lock_num,
			</if>
			<if test="creater != null">
				creater,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updater != null">
				updater,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="maxNum != null">
				max_num,
			</if>
			<if test="projectName != null">
				project_name,
			</if>
			<if test="minNum != null">
				min_num,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="curNum != null">
				#{curNum,jdbcType=INTEGER},
			</if>
			<if test="lockNum != null">
				#{lockNum,jdbcType=INTEGER},
			</if>
			<if test="creater != null">
				#{creater,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=DATE},
			</if>
			<if test="updater != null">
				#{updater,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=DATE},
			</if>
			<if test="maxNum != null">
				#{maxNum,jdbcType=INTEGER},
			</if>
			<if test="projectName != null">
				#{projectName,jdbcType=VARCHAR},
			</if>
			<if test="minNum != null">
				#{minNum,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.xh.comm.entry.AutoIdBeanExample"
		resultType="java.lang.Integer">
		select count(*) from t_pub_auto_id
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_pub_auto_id
		<set>
			<if test="record.code != null">
				code = #{record.code,jdbcType=VARCHAR},
			</if>
			<if test="record.curNum != null">
				cur_num = #{record.curNum,jdbcType=INTEGER},
			</if>
			<if test="record.lockNum != null">
				lock_num = #{record.lockNum,jdbcType=INTEGER},
			</if>
			<if test="record.creater != null">
				creater = #{record.creater,jdbcType=VARCHAR},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=DATE},
			</if>
			<if test="record.updater != null">
				updater = #{record.updater,jdbcType=VARCHAR},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=DATE},
			</if>
			<if test="record.maxNum != null">
				max_num = #{record.maxNum,jdbcType=INTEGER},
			</if>
			<if test="record.projectName != null">
				project_name = #{record.projectName,jdbcType=VARCHAR},
			</if>
			<if test="record.minNum != null">
				min_num = #{record.minNum,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_pub_auto_id
		set code = #{record.code,jdbcType=VARCHAR},
		cur_num = #{record.curNum,jdbcType=INTEGER},
		lock_num = #{record.lockNum,jdbcType=INTEGER},
		creater = #{record.creater,jdbcType=VARCHAR},
		create_time = #{record.createTime,jdbcType=DATE},
		updater = #{record.updater,jdbcType=VARCHAR},
		update_time = #{record.updateTime,jdbcType=DATE},
		max_num = #{record.maxNum,jdbcType=INTEGER},
		project_name = #{record.projectName,jdbcType=VARCHAR},
		min_num = #{record.minNum,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.xh.comm.entry.AutoIdBean">
		update t_pub_auto_id
		<set>
			<if test="curNum != null">
				cur_num = #{curNum,jdbcType=INTEGER},
			</if>
			<if test="lockNum != null">
				lock_num = #{lockNum,jdbcType=INTEGER},
			</if>
			<if test="creater != null">
				creater = #{creater,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=DATE},
			</if>
			<if test="updater != null">
				updater = #{updater,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=DATE},
			</if>
			<if test="maxNum != null">
				max_num = #{maxNum,jdbcType=INTEGER},
			</if>
			<if test="projectName != null">
				project_name = #{projectName,jdbcType=VARCHAR},
			</if>
			<if test="minNum != null">
				min_num = #{minNum,jdbcType=INTEGER},
			</if>
		</set>
		where code = #{code,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xh.comm.entry.AutoIdBean">
		update t_pub_auto_id
		set cur_num = #{curNum,jdbcType=INTEGER},
		lock_num = #{lockNum,jdbcType=INTEGER},
		creater = #{creater,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=DATE},
		updater = #{updater,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=DATE},
		max_num = #{maxNum,jdbcType=INTEGER},
		project_name = #{projectName,jdbcType=VARCHAR},
		min_num = #{minNum,jdbcType=INTEGER}
		where code = #{code,jdbcType=VARCHAR}
	</update>
</mapper>